@()
@main("Login"){
    <h2>Login</h2>

    <form method="post" action="@routes.LoginController.validateLogin()">
        Username: <input type="text" name="username"></input>
        <br>
        <br>
        Password: <input type="password" name="password"></input>
        <br>
        <input type="submit"></input>
    </form>

    <form method="post" action="@routes.LoginController.createAccount()">
        <h3>Create account</h3>
        <br>
        Username: <input type="text" name="username"></input>
        <br>
        <br>
        Password: <input type="password" name="password"></input>
        <br>
        <br>
        First name: <input type="text" name="fristName"></input>
        <br>
        <br>
        Last name: <input type="text" name="lastName"></input>
        <br>
        <br>
        Email: <input type="text" name="email"></input>
        <br>
        <br>
        Phone: <input type="text" name="phone"></input>
        <br>
        <br>
        <input type="submit"></input>
    </form>
}
